<template>
  <div class="container">
    <bets v-if="betsAreVisible" :data="betsData" class="bets"/>
    <div v-else>
      <img class="icon" src="static/baby_vr.png">
      <p class="event-label">Baby Protocuber Loading
        <loading-dots :dots="3"/>
      </p>
      <progress-bar :value="value"></progress-bar>
      <br>
    </div>
    <button
      type="button"
      class="bets-button"
      :class="{ 'bets-button-clicked': betsAreVisible }"
      @click="betsAreVisible = !betsAreVisible"
    >{{ !betsAreVisible ? 'Interested in bets? Click here!' : 'Back to the Baby thing' }}</button>
  </div>
</template>

<script>
import Bets from "@/components/Bets.vue";
import LoadingDots from "@/components/LoadingDots.vue";
import ProgressBar from "@/components/ProgressBar.vue";

const EXPIRATION_DATE = "2019-01-26T00:00:00Z";

export default {
  components: {
    Bets,
    LoadingDots,
    ProgressBar
  },

  data() {
    return {
      betsAreVisible: false,
      betsData: require("@/assets/json/bets.json"),
      expirationDate: null,
      startDate: null,
      total: null,
      value: null
    };
  },

  created() {
    this.expirationDate = new Date(EXPIRATION_DATE);

    const startDate = new Date(EXPIRATION_DATE);
    startDate.setDate(startDate.getDate() - 7 * 40);

    this.startDate = startDate;

    this.total = this.expirationDate.getTime() - this.startDate.getTime();

    this.value = Math.min(
      (new Date().getTime() - this.startDate.getTime()) / this.total,
      1
    );

    setInterval(() => {
      this.value =
        (new Date().getTime() - this.startDate.getTime()) / this.total;
    }, 3600000);
  }
};
</script>

<style scoped>
.container {
  text-align: center;
}

.bets {
  height: 100%;
  left: 0;
  margin-top: 80px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.bets-button {
  background-color: deeppink;
  border: none;
  color: white;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bets-button-clicked {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.event-label {
  font-size: 50px;
}

.icon {
  width: 50%;
}
</style>
