<template>
  <table>
    <th>NAME</th>
    <th>DAY</th>
    <th>HOUR</th>
    <tr v-for="(bet, index) of data" :key="index">
      <td>{{ bet.name }}</td>
      <td>{{ bet.day }}</td>
      <td>{{ bet.hour }}</td>
    </tr>
  </table>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped>
table {
  font-size: 25px;
}

table tr:nth-child(even) {
  background-color: lightgray;
}

table th {
  vertical-align: middle;
}
</style>


