<template>
  <span>
    <span :ref="`dot${index}`" v-for="(value, index) in dots" :key="index" class="hidden">. </span>
  </span>
</template>

<script>
export default {
  props: {
    dots: Number
  },

  data() {
    return {
      index: 0,
      scheduledTask: null
    }
  },

  created() {
    this.scheduledTask = setInterval(() => {
      if (this.index === this.dots) {
        for (let index = 0; index < this.dots; index++) {
          this.$refs[`dot${index}`][0].className = 'hidden'
        }

        this.index = 0
      } else {
        this.$refs[`dot${this.index}`][0].className = 'visible'

        this.index++
      }
    }, 1000)
  },

  destroyed() {
    clearInterval(this.scheduledTask)
  }
}
</script>

<style scoped>
.hidden {
  visibility: hidden;
}
</style>
