<template>
  <div>
    <span class="label">{{ (value * 100).toFixed(2) }}%</span>
    <div id="progress" class="bar" :style="{ width: `${value * 100}%` }"></div>
    <div
      id="remaining"
      class="bar"
      :style="{ width: `${100 - value * 100}%`, marginLeft: `${value * 100}%`}"
    ></div>
  </div>
</template>

<script>
export default {
  props: {
    value: Number
  }
};
</script>

<style scoped>
.label {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  margin: 10px 0;
  font-size: 27px;
}

.bar {
  height: 50px;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#progress {
  float: left;
  border-radius: 30px;
  background: linear-gradient(
    -45deg,
    lightpink,
    mediumvioletred,
    hotpink,
    deeppink
  );
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

#remaining {
  border-radius: 30px;
  background-color: darkmagenta;
}
</style>
