<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DK Jambo', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3c3c3b;
}

@font-face {
  font-family: 'DK Jambo';
  src: url('./assets/fonts/DK-Jambo/DK-Jambo.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'DK Jambo';
  src: url('./assets/fonts/DK-Jambo/DK-Jambo.otf');
  font-weight: bold;
}
</style>
